{% extends 'layout/base_timeline.html' %}
{% load comment_tags %}
{% load like_tags %}
{% block content-right %}
    <div class="request-info pull-left " style="clear: both; width: 100%;">
        {% include 'user/status/new_status.html' %}
        <div class=" content-right-post">

            <div id="view_posts">
                {#                {% for post in posts %}#}
                {#                    <div id="view_post_{{ post.pk }}">#}
                {#                        <div class="prettyprint content-right-post" id="post_{{ post.pk }}">#}
                {#                            <div class="post-information">#}
                {#                                <div class="post-avatar-name-date">#}
                {#                                    <div class="post-user-avatar">#}
                {#                                        <img src="{{ post.profile_create.avatar.url|default_if_none:'None' }}"#}
                {#                                             alt="avatar" class="img-rounded"#}
                {#                                             title="{{ post.profile_create.user.first_name }} {{ post.profile_create.user.last_name }}">#}
                {#                                    </div>#}
                {#                                    <div class="post-name-date">#}
                {#                                        <div class="post-user-full-name">#}
                {#                                            <a href="{% url 'user:home' user.username %}">#}
                {#                                                {{ post.profile_create.user.first_name }} {{ post.profile_create.user.last_name }}#}
                {#                                            </a>#}
                {#                                        </div>#}
                {#                                        <div class="post-date-time">#}
                {#                                            <a href="#"#}
                {#                                               title="{{ post.date | date:'D d-m-Y' }} at {{ post.date | date:'H:i' }}">{{ post.date | timesince }} </a>#}
                {#                                        </div>#}
                {#                                    </div>#}
                {#                                </div>#}
                {#                                <div class="post-content">#}
                {#                                    {{ post.title }}#}
                {#                                </div>#}
                {#                                <div class="post-like-comment">#}
                {#                                    <div id="post_like_{{ post.pk }}" style="float: left">#}
                {#                                        {% if user in post.users_like %}#}
                {#                                            <button type="button" class="btn btn-link btn-xs text"#}
                {#                                                    onclick="unlike_post({{ post.pk }})">Unlike#}
                {#                                            </button>#}
                {#                                        {% else %}#}
                {#                                            <button type="button" class="btn btn-link btn-xs text"#}
                {#                                                    onclick="like_post({{ post.pk }})"> Like#}
                {#                                            </button>#}
                {#                                        {% endif %}#}
                {#                                    </div>#}
                {#                                    <button type="button" class="btn btn-link btn-xs text" onclick=""#}
                {#                                            style="float: left">#}
                {#                                        Comment#}
                {#                                    </button>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                        <div class="prettyprint content-right-post-comments">#}
                {#                            <div class="post-total-like" id="number_like_post_{{ post.pk }}">#}
                {#                                <a href="#" onclick=""> {{ post.total_like }} </a> like this#}
                {#                            </div>#}
                {#                            <div class="post-comments" id="post_comment_{{ post.pk }}">#}
                {#                                <div class="content-right-post-comment">#}
                {#                                    <div class="view-comments" id="view_comments_post_{{ post.pk }}">#}
                {#                                        {% return_number_comment_of_post post.pk as number_comment %}#}
                {#                                        {% if number_comment > 4 %}#}
                {#                                            <div class="view-more-comment" id="view_more_comment_{{ post.pk }}">#}
                {#                                                <button type="button" class="btn btn-link btn-xs pull-left"#}
                {#                                                        onclick="load_more_comment({{ post.pk }}, 4 ,8,{{ number_comment }})">#}
                {#                                                    View more comment...#}
                {#                                                </button>#}
                {#                                                <span class="pull-right" style="font-size: 11px;color: #23527c"> .... 4 of {{ number_comment }}</span>#}
                {#                                            </div>#}
                {##}
                {#                                        {% endif %}#}
                {#                                        {% return_comment_of_post_tags post.pk 4 as comments %}#}
                {#                                        {% for comment in comments %}#}
                {#                                            <div class="view-comment" id="view_comment_post_{{ comment.pk }}">#}
                {#                                                <div class="view-comment-avatar">#}
                {#                                                    <img src="{{ comment.profile.avatar.url|default_if_none:'None' }}"#}
                {#                                                         alt="avatar" width="40" height="40" class="img-rounded"#}
                {#                                                         title="{{ user.username }}">#}
                {#                                                </div>#}
                {#                                                <div class="view-comment-content">#}
                {#                                                    <div style="float: left; width: 98%;">#}
                {#                                                        <div class="view-comment-content-information">#}
                {#                                                            <span class="view-comment-content-user">#}
                {#                                                                <a href="{% url 'user:home' comment.profile.user.username %}">#}
                {#                                                                    {{ comment.profile.user.first_name }} {{ comment.profile.user.last_name }}#}
                {#                                                                </a>#}
                {#                                                            </span>#}
                {#                                                            <span class="view-comment-content-data"#}
                {#                                                                  id="view_comment_content_data_{{ comment.pk }}">#}
                {#                                                                {{ comment.title }}#}
                {#                                                            </span>#}
                {##}
                {#                                                            <form action="" method="post"#}
                {#                                                                  id="view_comment_content_form_data_edit_{{ comment.pk }}"#}
                {#                                                                  class="view-comment-content-form-data-edit"#}
                {#                                                                  onsubmit="update_post_comment({{ comment.pk }}); return false;">#}
                {#                                                                {% csrf_token %}#}
                {#                                                                <textarea class="write-comment-edit"#}
                {#                                                                          id="view_comment_content_data_edit_{{ comment.pk }}">{{ comment.title }}</textarea>#}
                {#                                                            </form>#}
                {#                                                        </div>#}
                {#                                                        <div class="view-comment-content-like-date">#}
                {#                                                            <span class="view-comment-content-like"#}
                {#                                                                  id="view_comment_content_like_{{ comment.pk }}">#}
                {#                                                                {% return_user_like_comment_tags comment.pk as users_like %}#}
                {#                                                                {% if user in users_like %}#}
                {#                                                                    <button type="button"#}
                {#                                                                            class="btn btn-link btn-xs text"#}
                {#                                                                            onclick="unlike_comment({{ comment.pk }})">#}
                {#                                                                        Unlike#}
                {#                                                                    </button>#}
                {#                                                                {% else %}#}
                {#                                                                    <button type="button"#}
                {#                                                                            class="btn btn-link btn-xs text"#}
                {#                                                                            onclick="like_comment({{ comment.pk }})">#}
                {#                                                                        Like#}
                {#                                                                    </button>#}
                {#                                                                {% endif %}#}
                {#                                                            </span>#}
                {#                                                            {% return_comment_like_comment_tags comment.pk as count_like_comment %}#}
                {##}
                {#                                                            <div class="view-comment-content-like-number"#}
                {#                                                                 id="view_comment_content_like_number_{{ comment.pk }}"#}
                {#                                                                 style="display: {% if count_like_comment > 0 %}block{% else %} none {% endif %}">#}
                {#                                                                <a href="#">#}
                {#                                                                    <img src="../../../static/image/like.png">#}
                {#                                                                    <span class="text"#}
                {#                                                                          id="number_like_comment_{{ comment.pk }}">#}
                {#                                                                        {{ count_like_comment }}#}
                {#                                                                    </span>#}
                {#                                                                </a>#}
                {#                                                            </div>#}
                {##}
                {#                                                            <span class="view-comment-content-date">#}
                {#                                                                <a href="#"#}
                {#                                                                   title="{{ comment.date | date:'D d-m-Y' }} at {{ comment.date | date:'H:i' }}">{{ comment.date | timesince }} </a>#}
                {#                                                            </span>#}
                {#                                                        </div>#}
                {#                                                    </div>#}
                {#                                                    {% if user == comment.profile.user %}#}
                {#                                                        <div style="float: left; width: 2%;">#}
                {#                                                            <div class="dropdown">#}
                {#                                                                <button class="btn btn-link btn-xs dropdown-toggle"#}
                {#                                                                        data-toggle="dropdown"#}
                {#                                                                        id="id_btn_{{ comment.id }}_edit_comment">#}
                {#                                                                    <span class="button-edit-dropdown caret"></span>#}
                {#                                                                </button>#}
                {#                                                                <ul class="dropdown-menu pull-right"#}
                {#                                                                    style="min-width: 42px;padding: 3px;">#}
                {#                                                                    <li>#}
                {#                                                                        <button id="id_btn_{{ comment.id }}_edit_comment"#}
                {#                                                                                class="btn btn-xs btn-default btn-edit-comment-post"#}
                {#                                                                                onclick="display_block_content({{ comment.id }}); display_block_btn({{ comment.id }})">#}
                {#                                                                            Edit#}
                {#                                                                        </button>#}
                {##}
                {#                                                                        <button id="id_btn_{{ comment.id }}_delete_comment"#}
                {#                                                                                class="btn btn-xs btn-default btn-delete-comment-post"#}
                {#                                                                                onclick="confirm_delete_post_comment({{ comment.id }})"#}
                {#                                                                                style="display: block; width: 42px;">#}
                {#                                                                            Delete#}
                {#                                                                        </button>#}
                {#                                                                    </li>#}
                {#                                                                </ul>#}
                {#                                                                <button id="id_btn_{{ comment.id }}_update_comment"#}
                {#                                                                        class="btn btn-xs btn-default btn-update-comment-post"#}
                {#                                                                        onclick="update_post_comment({{ comment.pk }})">#}
                {#                                                                    Update#}
                {#                                                                </button>#}
                {##}
                {#                                                                <button id="id_btn_{{ comment.id }}_cancel_comment"#}
                {#                                                                        class="btn btn-xs btn-default btn-cancel-cancel-post"#}
                {#                                                                        onclick="display_none_content({{ comment.id }}); display_none_btn({{ comment.id }})">#}
                {#                                                                    Cancel#}
                {#                                                                </button>#}
                {#                                                            </div>#}
                {#                                                        </div>#}
                {#                                                    {% endif %}#}
                {#                                                </div>#}
                {#                                            </div>#}
                {#                                        {% endfor %}#}
                {#                                    </div>#}
                {#                                    <div class="create-comment">#}
                {#                                        <div class="create-comment-avatar">#}
                {#                                            <img src="{{ user.profile.avatar.url|default_if_none:'None' }}" alt="avatar"#}
                {#                                                 width="40" height="40" title="{{ user.username }}" class="img-rounded">#}
                {#                                        </div>#}
                {#                                        <div class="create-comment-content">#}
                {#                                            <form action="" method="post"#}
                {#                                                  onsubmit="create_post_comment({{ post.pk }}); return false;">#}
                {#                                                {% csrf_token %}#}
                {#                                                <input type="text" class="form-control"#}
                {#                                                       id="create_comment_post_{{ post.pk }}_content"#}
                {#                                                       placeholder="new comment">#}
                {#                                            </form>#}
                {#                                        </div>#}
                {#                                    </div>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                {% endfor %}#}
            </div>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            var count_action = [];
            $.ajax({
                url: '/activity/',
                type: 'GET',
                success: function (json) {
                    {#                    count_action = json.count_action;#}
                    {#                    $('#count_action').append(count_action);#}

                    var activity = json.activities;
                    for (var i = 0; i < activity.length; i++) {
                        $('#view_posts').prepend(activity[i])
                    }
                },
                error: function (json) {

                }
            })
        });
    </script>
{% endblock %}