body {
    background-color: #efefef;
    /*width: 50%;*/
}

.content-main {
    margin-top: 60px;
}

.left-content {
    padding-right: 0;
    padding-left: 15px;
}

.c-l-background {
    background-color: transparent;
    border: none;
}

.c-l-username a:hover {
    text-decoration: none;
}

.c-l-edit-profile a:hover {
    text-decoration: none;
}

.c-l-title {
    display: block;
    /*padding: 9.5px;*/
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    border-radius: 4px;
}

.content-right-post, .content-right-status, .content-right-post-comments {
    background-color: #FFFFFF;
    border: solid 1px rgba(169, 183, 198, 0.29);
    display: block;
    padding: 9px;
    font-size: 13px;
    line-height: 1.42857;
    word-break: break-all;
    word-wrap: break-word;
    /*border-radius: 4px;*/
    margin-bottom: 10px;
}

/*--------------------------------- Avatar - Cover------------------------------------------*/
.breadcrumb {
    position: relative;
    padding: 5px 5px;
}

.breadcrumb .cover {
    position: relative;
    height: 396px;
}

.breadcrumb .cover img {
    width: 1130px;
    height: 350px;
    position: relative;

}

.breadcrumb .cover .view-name {
    position: relative;
    height: 40px;
    /*width: 100%;*/
    top: -70px;
    left: 190px;
}

.breadcrumb .cover .view-name .name, .breadcrumb .cover .view-name .orther-name {
    color: whitesmoke;
    font-size: 15px;
    font-weight: bold;
}

.breadcrumb .cover .view-name .name a, .breadcrumb .cover .view-name .orther-name a {
    color: whitesmoke;
    font-size: 17px;
}

.breadcrumb .avatar {
    position: absolute;
    height: 40px;
    width: 100%;
    top: 356px;
}

.breadcrumb .avatar img {
    width: 150px;
    height: 150px;
    position: relative;
    top: -110px;
    margin-left: 10px;

}

.breadcrumb .avatar li {
    margin-left: 15px;
}

.breadcrumb .avatar li a {
    color: #3b5998;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.breadcrumb .nav-button {

}

.breadcrumb .nav-button ul li ul li {
    margin-left: 0;
}

/*---------------------------------Write status------------------------------------------*/

.content-right-status > .title-status {
    min-height: 25px;
    border-bottom: 1px solid #C1CCD8
}

.content-status {
    position: relative;
    min-height: 120px;
    width: 100%;
}

.content-status > .avatar {
    width: 10%;
    /*height: 75px;*/
    /*background-color: #1b6d85;*/
    padding: 10px;
}

.content-status > .text-status {
    margin: 10px;
    width: 85%
}

.write-status {
    /*overflow:hidden;*/
    resize: none;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    min-height: 75px;
}

.button-status {
    min-height: 35px;
    position: relative;
    border-top: 1px solid #C1CCD8
}

.margin {
    margin: 7px 20px 0 0;
}

/*--------------------------------- Post ------------------------------------------------*/
.content-right-posts {
    padding-bottom: 0;
}

.content-right-post {
    float: left;
    width: 100%;
    min-height: 50px;
}

.content-right-post .post-information {
    min-height: 50px;
    float: left;
    width: 100%;
}

.content-right-post .post-information .post-avatar-name-date {
    float: left;
    width: 100%;
}

.content-right-post .post-information .post-avatar-name-date .post-user-avatar {
    height: 50px;
    width: 50px;
    float: left;
}

.content-right-post .post-information .post-avatar-name-date .post-user-avatar img {
    height: 50px;
    width: 50px;
}

.content-right-post .post-information .post-avatar-name-date .post-name-date {
    margin-left: 5px;
    float: left;
}

.content-right-post .post-information .post-avatar-name-date .post-name-date .post-user-full-name {
    color: #3b5998;
    font-size: 14px;
    font-weight: bold
}

.content-right-post .post-information .post-avatar-name-date .post-name-date .post-user-full-name a {
    color: #3b5998;
    text-decoration: none;
}

.content-right-post .post-information .post-avatar-name-date .post-name-date .post-user-full-name a:hover {
    color: #3b5998;
    text-decoration: underline;
}

.content-right-post .post-information .post-avatar-name-date .post-name-date .post-date-time {
    color: #3b5998;
    font-size: 12px;
}

.content-right-post .post-information .post-content {
    float: left;
    padding-top: 10px;
    padding-bottom: 5px;
    color: black;
    font-size: 13px;
}

.content-right-post .post-information .post-like-comment {
    float: left;
    border-top: 1px solid #DDE8FC;
    color: black;
    font-size: 13px;
    width: 100%;

}

.content-right-post .post-information .post-like-comment .text {
    font-size: 13px;
}

/*--------------------------------- Comment ------------------------------------------------*/
.content-right-post-comments {
    margin-top: -11px;
    float: left;
    width: 100%;
    background-color: #F6F7F8;
}

.content-right-post-comments .post-total-like {
    margin-bottom: 5px;
}

.content-right-post-comment {
    float: left;
    width: 100%;
    /*min-height: 50px;*/
}

/*.post-comment {*/
/*float: left;*/
/*width: 100%;*/

/*}*/

.content-right-post-comment .create-comment {
    float: left;
    width: 100%;
    min-height: 40px;
    margin-top: 4px;
}

.content-right-post-comment .create-comment .create-comment-avatar {
    height: 40px;
    width: 40px;
    float: left;
}

.content-right-post-comment .create-comment .create-comment-content {
    float: left;
    width: 90%;
    min-height: 40px;
    margin-left: 5px;
}

.content-right-post-comment .view-comments {
    width: 100%;
}

.content-right-post-comment .view-comments .view-comment {
    float: left;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
}

.content-right-post-comment .view-comments .view-comment .view-comment-avatar {
    height: 40px;
    width: 40px;
    float: left;
}

.content-right-post-comment .view-comments .view-comment .view-comment-content {
    float: left;
    width: 90%;
    min-height: 40px;
    margin-left: 5px;
}

.view-comment-content-user {
    display: block;
    color: #3b5998;
    font-size: 13px;
    font-weight: bold;

}

.view-comment-content-user a {
    color: #3b5998;
    text-decoration: none;
}

.view-comment-content-user a:hover {
    text-decoration: underline;
}

.view-comment-content-data {
    display: block;
    font-size: 13px;
}

.view-comment-content-form-data-edit {
    display: none;
    font-size: 13px;
}

.view-comment-content-like-date {
    float: left;
    /*margin-top: 7px;*/
    width: 100%;
    bottom: 0;
}

.view-comment-content-like {
    float: left;
}

.view-comment-content-like-number {
    float: left;
    margin-top: 3px;
    margin-right: 5px;

}

.view-comment-content-like-number .text {
    margin-left: 2px;
    margin-top: -1px;
    float: left;
}

.view-comment-content-like-number img {
    float: left;
    margin-top: 1px;
    width: 11px;
    height: 11px;
}

.view-comment-content-date {
    float: left;
    margin-top: 3px;
}

.view-comment-content-date a {
    color: #696969;
    font-size: 12px;
    float: left;
}

.write-comment-edit {
    resize: none;
    border: 0;
    width: 95%;
    box-sizing: border-box;
    min-height: 25px;

}

.view-more-comment {
    width: 90%
}

/*--------------------------------- Login ------------------------------------------------*/
.post {
    margin: 0 auto;
    /*padding-bottom: 50px;*/
    float: left;
    /*width: 960px;*/
}

.btn-sign {
    /*width: 200px;*/
    /*margin-bottom: 20px;*/
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
    /*background: -moz-linear-gradient(center top, #00c6ff, #018eb6);*/
    /*background: -webkit-gradient(linear, left top, left bottom, from(#00c6ff), to(#018eb6));*/
    /*background: -o-linear-gradient(top, #00c6ff, #018eb6);*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#00c6ff', EndColorStr='#018eb6');
    text-align: center;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.btn-sign a {
    color: #fff;
    text-shadow: 0 1px 2px #161616;
}

.btn-sign a:hover {
    text-decoration: none;
}

#mask {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}

.login-popup {
    display: none;
    background: #333;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    box-shadow: 0 0 20px #999;
    -moz-box-shadow: 0 0 20px #999; /* Firefox */
    -webkit-box-shadow: 0 0 20px #999; /* Safari, Chrome */
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

img.btn_close {
    float: right;
    margin: -28px -28px 0 0;
}

fieldset {
    border: none;
}

form.signin .textbox label {
    display: block;
    padding-bottom: 7px;
}

form.signin .textbox span {
    display: block;
}

form.signin p, form.signin span {
    color: #999;
    font-size: 11px;
    line-height: 18px;
}

form.signin .textbox input {
    background: #666666;
    border-bottom: 1px solid #333;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    border-top: 1px solid #000;
    color: #fff;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font: 13px Arial, Helvetica, sans-serif;
    padding: 6px 6px 4px;
    width: 200px;
}

form.signin input:-moz-placeholder {
    color: #bbb;
    text-shadow: 0 0 2px #000;
}

form.signin input::-webkit-input-placeholder {
    color: #bbb;
    text-shadow: 0 0 2px #000;
}

.button {
    /*background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);*/
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
    background: -o-linear-gradient(top, #f3f3f3, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
    border-color: #000;
    border-width: 1px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    padding: 6px 6px 4px;
    margin-top: 10px;
    font-size: 12px;
    width: 214px;
}

.button:hover {
    background: #ddd;
}

/*----------------------------------------------------------------------------------------*/
.button-edit-dropdown {
    margin-left: 1px;
    opacity: 0.2;
}

.button-edit-dropdown :hover {
    opacity: 1;
}

.button-edit-dropdown :focus {
    opacity: 1;
}

.btn-edit-review {
    padding-left: 3px;
    padding-right: 3px;
}

.btn-edit-comment-post, .btn-delete-comment-post {
    min-width: 45px;
    display: block;
    margin: 0 0 3px 0
}

.btn-update-comment-post, .btn-cancel-cancel-post {
    display: none;
    margin: 0 0 3px 0
}