<li id="friend_status">
    <div class="btn-group">
        <button type="button" class="btn btn-default">Waiting</button>
        <button type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu pull-right">
            <li>
                <button type="button" class="btn btn-link"
                        onclick="friend_accept({{ user_home.pk }})">
                    Accept
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-link"
                        onclick="friend_not_now({{ user_home.pk }})">
                    Not now
                </button>
            </li>
        </ul>
    </div>
</li>