{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}

        {% block meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
            <meta name="robots" content="NONE,NOARCHIVE"/>
        {% endblock %}

        <title>{% block title %}{{ request.session.title }}{% endblock %}</title>

        {% block style %}
            {% block bootstrap_theme %}
                <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}"/>
                <link rel="stylesheet" type="text/css" href="{% static "css/user/css_user.css" %}"/>
            {% endblock %}

        {% endblock %}

    {% endblock %}
</head>

{% block body %}
    <body class="{% block bodyclass %}{% endblock %}">

    <div class="container" ng-app="facebook-home">
        {% block navbar %}
            <div class=" nav navbar navbar-fixed-top navbar-static-top  {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %}">
                <div class="container ">
                    <span>
                        {% block branding %}
                            <a class='navbar-brand' rel="nofollow" href='#'>Facebook
                                <span class="version">{{ version }}</span>
                            </a>
                        {% endblock %}
                    </span>
                    <ul class="nav navbar-nav pull-right">
                        {% block userlinks %}
                            {% if user.is_authenticated %}
                                {% include 'layout/header.html' %}
                            {% endif %}
                        {% endblock %}
                    </ul>
                </div>
            </div>
        {% endblock %}

        <div class="container">
            <!-- Content -->
            <div class="content-main">
                <ul class="breadcrumb">
                    <li>
                        <div class="cover">
                            <img src="{{ user_home.profile.cover.url|default_if_none:'None' }}"
                                 alt="{{ user_home.first_name }} {{ user_home.last_name }}"
                                 class="img-rounded " title="{{ user_home.first_name }} {{ user_home.last_name }}">

                            <div class="avatar">
                                <img src="{{ user_home.profile.avatar.url|default_if_none:'None' }}"
                                     alt="{{ user_home.first_name }} {{ user_home.last_name }}"
                                     class="img-rounded img-thumbnail pull-left"
                                     title="{{ user_home.first_name }} {{ user_home.last_name }}">

                                <nav class=" pull-left navbar navbar-default"
                                     style="background-color: transparent; border-color: transparent;">
                                    {#                                    <div class="container-fluid">#}
                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse">
                                        <ul class="nav navbar-nav">
                                            <li {% if  menu == 'timeline' %}class="active"{% endif %}>
                                                <a href="{% url 'user:home' user.username %}">Timeline
                                                    <span class=" sr-only">(current)</span>
                                                </a>
                                            </li>
                                            <li {% if  menu == 'about' %}class="active"{% endif %}>
                                                <a href="{% url 'user:home' user.username %}">About</a>
                                            </li>
                                            <li {% if  menu == 'photo' %}class="active"{% endif %}>
                                                <a href="{% url 'user:home' user.username %}">Photo </a>
                                            </li>
                                            <li {% if  menu == 'friend' %}class="active"{% endif %}>
                                                <a href="{% url 'user:home' user.username %}">Friend</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.navbar-collapse -->
                                    {#                                    </div>#}
                                    <!-- /.container-fluid -->
                                </nav>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-lg-3 left-content c-l-background">
                        {% block content-left %}
                            {% include 'user/timeline/left_timeline.html' %}
                        {% endblock %}
                    </div>
                    <div class="col-lg-9">
                        {% block content-right %}

                        {% endblock %}
                    </div>
                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.container -->
    </div>
    <!-- ./wrapper -->

    {% block script %}

    {% endblock %}
    <script src="{% static "js/system/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static 'js/system/angular.js' %}"></script>
    <script src="{% static "js/system/bootstrap.min.js" %}"></script>
    <script src="{% static "js/user/csrf.js" %}"></script>
    <script src="{% static "js/user/funcution.js" %}"></script>
    <script src="{% static "js/user/angular-home.js" %}"></script>
    <script src="{% static "js/ajax/post.js" %}"></script>
    <script src="{% static "js/ajax/comment.js" %}"></script>
    </body>
{% endblock %}
</html>
