{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}

        {% block meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
            <meta name="robots" content="NONE,NOARCHIVE"/>
        {% endblock %}

        <title>{% block title %}Django REST framework{% endblock %}</title>

        {% block style %}
            {% block bootstrap_theme %}
                <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}"/>
                <link rel="stylesheet" type="text/css" href="{% static "css/user/css_user.css" %}"/>
            {% endblock %}

        {% endblock %}

    {% endblock %}
</head>

{% block body %}
    <body class="{% block bodyclass %}{% endblock %}">

    <div class="container">
        {% block navbar %}
            <div class=" nav navbar navbar-fixed-top navbar-static-top  {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %}">
                <div class="container ">
                    <span>
                        {% block branding %}
                            <a class='navbar-brand' rel="nofollow" href='#'>Facebook
                                <span class="version">{{ version }}</span>
                            </a>
                        {% endblock %}
                    </span>
                    <ul class="nav navbar-nav pull-right">
                        {% block userlinks %}
                            {% if user.is_authenticated %}
                                {% include 'layout/header.html' %}
                            {% else %}
                                {% include 'layout/box_login.html' %}
                            {% endif %}
                        {% endblock %}
                    </ul>
                </div>
            </div>
        {% endblock %}
        <div class="container">
            <!-- Content -->
            <div class="content-main">
                <div class="row">
                    {% if user.is_authenticated %}
                        <div class="col-lg-3 left-content c-l-background">
                            {% block content-left %}
                                {% include 'user/timeline/left_timeline.html' %}
                            {% endblock %}
                        </div>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <div class="col-lg-9">{% else %}
                        <div class="col-lg-12">{% endif %}
                    {% block content-right %}

                    {% endblock %}
                    </div>
                    </div>
                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.container -->
    </div>
    <!-- ./wrapper -->

    {% block script %}

    {% endblock %}
    <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static "js/csrf.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('a.login-window').click(function () {

                // Getting the variable's value from a link
                var loginBox = $(this).attr('href');

                //Fade in the Popup and add close button
                $(loginBox).fadeIn(300);

                //Set the center alignment padding + border
                var popMargTop = ($(loginBox).height() + 24) / 2;
                var popMargLeft = ($(loginBox).width() + 24) / 2;

                $(loginBox).css({
                    'margin-top': -popMargTop,
                    'margin-left': -popMargLeft
                });

                // Add the mask to body
                $('body').append('<div id="mask"></div>');
                $('#mask').fadeIn(300);

                return false;
            });

            // When clicking on the button close or the mask layer the popup closed
            $('a.close, #mask').live('click', function () {
                $('#mask , .login-popup').fadeOut(300, function () {
                    $('#mask').remove();
                });
                return false;
            });
        });
    </script>

    </body>
{% endblock %}
</html>
